.banner {
    scroll-snap-type: x mandatory;
    overflow: auto;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        scroll-snap-align: start;
        flex-shrink: 0;

        & img {
            width: 259px;
            height: 100px;
            margin-right: 15px;
            border-radius: 15px;

            & img:last-child {
                margin-right: 0;
            }
        }
    }
}