
.img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: yellow;

    & img {
        background-color: white;
        padding: 4px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 500px) {
    img {
        width: 40%;
    }
}