form {
    & input {
        background-color: rgba(0, 0, 0, 0.048);
        width: 100%;
        border: none;
    }
    & label {
        & .input-group-text {
            background-color: rgb(214, 214, 214);
            border: none;
        }
        & .form-control {
            background-color: rgb(214, 214, 214);
            border: none;
            color: rgb(112, 112, 112);
    
            &::placeholder {
                color: rgb(112, 112, 112);
            }
            &:focus {
                background-color: transparent;
                border: none;
            }
        }
    }
}
